h1,h2,h3,h4,h5,h6 {
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-weight: 600;
    margin: 10px;
}

.webtitle {
    text-align: center;
    padding: 100px 20px 0px;
    font-weight: 600;
    color: white;
}

.recipe-title {
    color: white;
}

.nav li {
    display: inline-block;
    margin: auto;
}

.nav {
    display: block;
    text-align: center;
    padding: 0px;
}

footer {
    text-align: center;
    color: white;
}


p, ul, ol, li, a {
    font-family: 'Inter Tight', 'Arial', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 135%;
}

p, a {
    padding-left: 10px;
}
a img{
    border: solid 5px rgb(255, 255, 255);
    border-radius: 10px;
}
ul {
    margin: 0px;
}

body {
    background: linear-gradient(150deg, #79a0f5, #32d1a9);
    min-height: 100vh;
    min-width: 100vw;
}

.homemenu {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin: 12px 75px 50px;
}
.nav a, a {
    color:#02b671;
    text-decoration: none;
}

.detail-container {
    width: 500px;
    border-radius: 10px;
    background-color: white;
    margin: 10px 10px 50px;
    padding: 10px 20px 10px 10px;
}

.nothome.homemenu {
    width: max-content;
    margin: 12px 10px 30px;
    padding: 5px 10px 5px 0px;
}

.nothome .nav li {
    text-align: left;
    display: block;
    margin: 7px 0px;
    list-style: circle;
}
.nothome .nav {
    padding: 0px;
}

footer.nothome {
    text-align: left;
    margin: 10px;
}

.inline-link {
    padding: 0px;
}